---
title: Portfolio
layout: default
---

<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>QB - Timeline</title>
		<link rel="stylesheet" type="text/css" href="css/timeline.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container" style="margin:0;padding:0;width:100%; ">
			<header>
				<img width="180" height="180" src="images/icon.png">
				<h1>QB</h1>
				<p>Python,Android开发爱好者<br>
					目前专职于Python,空余时间折腾这，折腾那。</p>
			</header>
			<div class="main">
				<ul class="cbp_tmtimeline">
					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">Easy-bo</h2>
							<time>2016.11</time>
							<img src="images/Easy-bo.png">
							<ul>
								<li>
									"Easy-bo" 去年这个时候忙于音乐播放器，现在回头看简直了，所以打算重新改良改良，通过对vitamio播放器的定制也实现了自制播放器的功能，加入了一些热门视频网站，方便用户在线观看，暂时就这么多，恩，对了还有下载功能，自行体验咯︿(￣︶￣)︿								
								</li>
								<li class="skill">
									<span class="cbp_tmicon-phone"></span>
									<span><b>Android</b></span>
									<span class="link"><a target="_blank" href="https://github.com/qianbin01/Easy-bo">Try it</a></span>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">命令行小工具</h2>
							<time>2017.8.10</time>
							<img src="images/terminal.png">
							<ul>
								<li>
								一些简单的命令行小工具，包含英汉翻译，火车票查询等。
								戳下面链接
								</li>
								<li class="skill">
									<span class="cbp_tmicon-screen"></span>
									<span><b>Python</b></span>
									<span class="link"><a target="_blank" href="https://github.com/qianbin01/trains_watcher">Try it</a></span>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">友帮app</h2>
							<time>待定</time>
							<img src="images/Easy-bo.png">
							<ul>
								<li>
									还没完成O(∩_∩)O哈哈~						
								</li>
								<li class="skill">
									<span class="cbp_tmicon-phone"></span>
									<span><b>Android</b></span>
									<span class="link"><a href="#">Try it</a></span>
								</li>
							</ul>
						</div>
					</li>						
					{% if site.duoshuo_username %}
					<li>
						<div class="cbp_tmlabel">
			                <!-- 多说评论框 start -->
			                <div class="comment">
			                    <div class="ds-thread"
									data-thread-key="{{site.duoshuo_username}}/portfolio"
			                        data-title="{{page.title}}"
			                        data-url="{{site.url}}{{site.baseurl}}{{page.url}}" >
			                    </div>
			                </div>
			                <!-- 多说评论框 end -->
						</div>
					</li> 
					{% endif %}
				</ul>
			</div>
		</div>
		{% if site.duoshuo_username %}
		<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
		<script type="text/javascript">
		    // dynamic User by Hux
		    var _user = '{{site.duoshuo_username}}';

		    // duoshuo comment query.
		    var duoshuoQuery = {short_name: _user };
		    (function() {
		        var ds = document.createElement('script');
		        ds.type = 'text/javascript';ds.async = true;
		        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		        ds.charset = 'UTF-8';
		        (document.getElementsByTagName('head')[0]
		         || document.getElementsByTagName('body')[0]).appendChild(ds);
		    })();
		</script>
		<!-- 多说公共JS代码 end -->
		{% endif %}
	</body>
</html>
